<nav class="navbar navbar-expand">
  <a class="navbar-brand mr-auto" href="#"><img src="assets/img/logo.png"></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#"><i class="material-icons md-inherit icon">shopping_cart</i><span>PEWPEW SHOP</span></a>
    </li>
    <li class="nav-item">
      <a href="#" (click)="resetMaterials($event)"><i class="material-icons md-inherit icon">refresh</i><span>START OVER</span></a>
    </li>
    <li class="nav-item">
      <a href="#" (click)="startSharing($event)"><i class="material-icons md-inherit icon">launch</i><span>SHARE</span></a>
    </li>
    <li class="nav-item">
      <a href="#" (click)="openFavoriteModal($event)"><i class="material-icons md-inherit icon">favorite_border</i><span>FAVORITE</span></a>
    </li>
    <li class="nav-item large" *ngIf="!loggedUser">
      <a href="#" (click)="openLoginModal($event)"><i class="material-icons md-inherit icon">account_circle</i><span>MY ACCOUNT</span></a>
    </li>
    <li class="nav-item large" *ngIf="loggedUser">
      <a href="#" (click)="logout($event)"><i class="material-icons md-inherit icon">account_circle</i><span>Logout</span></a>
    </li>
  </ul>
</nav>


<div class="modal" style=" overflow-y: scroll;" id="loginmodel" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
<div class="modal-header">
  <h4>Sign up or Log in</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="hideLoginModel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <div class="text-center">
    <a href="#"><img style="height: 2em;" src="https://scontent.fatl1-2.fna.fbcdn.net/v/t39.2365-6/18928641_251957295286418_4362086450741641216_n.png?_nc_cat=0&oh=96b2909091a5a140a6846aada6e4db93&oe=5BDAFA05" alt="Continue with Facebook"/></a>
  </div> -->
  <form class="needs-validation" novalidate>
    <div class="form-group">
      <label for="loginUsername">Username</label>
      <input id="loginUsername" type="text" name="username" placeholder="PewPewCustoms" class="form-control" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input id="loginPassword" type="password" class="form-control" name="password" [(ngModel)]="password">
    </div>
    <div class="text-right">
      <!-- <a href="#">Forgot Password?</a>&nbsp; -->
      <input type="button" class="btn btn-primary" (click)="login()" value="Login" />
      
      <input type="button" class="btn btn-info" (click)="hideLoginModel()" value="Cancle" />
      

    </div>
    <!--<hr>
     <div class="form-group">
      <label for="loginConfirmPassword">Confirm Password</label>
      <input id="loginConfirmPassword" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="loginEmail">E-mail</label>
      <input id="loginEmail" type="email" class="form-control" placeholder="account@emailhost.com">
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Register</button>
    </div> -->
  </form>
</div>
    </div>
  </div>
</div>